.chatForm{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.chatForm_panel{
    text-align: center;
    padding: 10px 0px;
    background-color: #d3d3d3;
}

.chatForm_text{
    padding: 20px;
    font-size: 1.8rem;
    border: 3px solid #d3d3d3;
    max-height: 200px;
    width: 50%;
}

.chatForm_sendButton{
    padding: 20px;
    margin-left: 20px;
    background-color: #fff;
}

.chatForm_icon{
    font-size: 1.8rem;
    color: rgb(29, 161, 242);
}