.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(29, 161, 242);
    text-align: center;
    z-index: 5;
}

.header_title{
    color: #fff;
}

.header_logout{
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(-50%);
    background-color: rgb(29, 161, 242);
    border: none;
}