.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(29, 161, 242);
    text-align: center;
    z-index: 5;
}

.header_title{
    color: #fff;
}

.header_nav{
    position: absolute;
    width: 20px;
    height: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav::before{
    position: absolute;
    content: '';
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left:0;
    border-bottom: 2px solid #fff;
}

.header_menu{
    display: none;
    position: absolute;
    top: 43px;
    border-right: 2px solid #cdcdcd;
    border-left: 2px solid #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
    background-color: #fff;
}

.header_menu > a {
    text-decoration: none;
    cursor: pointer;
}

.header_menu.is-open{
    display: block;
}

.header_menuList{
    font-size: 2.0rem;
    padding: 20px;
    color: rgb(29, 161, 242);
}

.header_menuList{
    border-top: 2px solid #cdcdcd;
}

.header_manuList{
    border-bottom: 2px solid #cdcdcd;
}