.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(29, 161, 242);
    text-align: center;
    z-index: 5;
}

.header_title{
    color: #fff;
}